<div class="row">
    <div class="col-md-12">
        <label for="stateSelectForRegion">Please select the state</label>
        <select 
        class="form-control" 
        (change)="onChangeSelect($event.target.value)" 
        [disabled]="isSelectDisabled">
            <option value="">Select a state</option>
            <option *ngFor="let stateSel of statesList" 
                    value="{{stateSel.idState}}">{{ stateSel.name }}</option>
        </select>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <form [hidden]="!stateSelected">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" (click)="onNewRegion()">New Region</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <app-regions-item 
                    *ngFor="let regionElement of regionsList; let i = index"
                    [region]="regionElement"
                    [index]="i"
                    (regionToDelete)="onDeleteRegion($event)"></app-regions-item>
                </div>
            </div>
        </form>
    </div>
</div>
