<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>{{ region.regionName }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" appDropdown>
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage Region <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer">Add cities to the region</a></li>
                <li><a style="cursor: pointer">Edit region</a></li>
                <li><a style="cursor: pointer">Delete region</a></li>
            </ul>
        </div>
    </div>
</div>
